{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{%block title %}Rhode Island Education Data Reporting - RIDE InfoWorks{% endblock %}</title>
 
  
  {% block css %}
  <link href='http://infoworks.ride.ri.gov/favicon.ico' rel='shortcut icon' type='image/x-icon' />
  <!-- Bootstrap -->
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "css/style.css" %}" rel="stylesheet">
  <link href="{% static "css/themify-icons.css" %}" rel="stylesheet">
  <link href="{% static "css/dosis-font.css" %}" rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  {% endblock %}      
</head>

    <body id="page-top" data-spy="scroll" data-target=".side-menu">
        {% block nav %}
        <nav class="navbar navbar-default navbar-fixed-top">
           <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 </button>
                 <a class="navb{% block title_landing_page %}

{% endblock %}ar-brand" href="/"><img src="{% static "img/infoworks.png" %}" alt="" style="height: 35px;"></a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'state' %}">Statewide</a></li>
                    <li><a href="{% url 'landing_page' %}">School</a></li>
                    <li><a href="#ABOUT">About</a></li>
                    <li><a href="#TESTIMONIAL">Testimonial</a></li>
                    <li><a href="#WORK">Work</a></li>
                    <li><a href="#CONTACT">Contact</a></li>
                 </ul>
              </div>
              <!-- /.navbar-collapse -->
           </div>
           <!-- /.container -->
        </nav>
        {% endblock %}
      {% block body %}{% endblock %}
        
        
      {% block footer%}
      <!-- Start: Footer -->
      <section class="container-fluid footer">
        <div class="row footer-credit">
          <div class="col-md-6 col-sm-6">
            <p>&copy; 2016, <a href="http://datasparkri.org/">DataSpark</a> | All rights reserved.</p>
          </div>
          <div class="col-md-6 col-sm-6"> 
            <ul class="footer-menu">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms &amp; Condition</a></li>
            </ul>
          </div>
        </div>
      </section>
      <!-- End: Footer -->
      {% endblock %}
      
      {% block javascript %}
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="{% static "js/jquery.min.js" %}"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="{% static "js/bootstrap.min.js" %}"></script>
      <script src="{% static "js/jquery.easing.min.js" %}"></script>
      <script src="{% static "js/scrolling-nav.js" %}"></script>
      <script src="{% static "js/validator.js" %}"></script>
      {% endblock %}
    </body>
    </html>