{% extends "front_page/base.html" %}{% load staticfiles %}{% load config %}

{% block css %}
	<link rel="stylesheet" href="{% static "sortable-0.8.0/css/sortable-theme-bootstrap.css" %}" />
	{{block.super}}
{% endblock css %}

{% block body %}
	{% if type == "SCHOOL" %}
	<div class="container body" ng-app = "mainApp" ng-controller = "tableCtrl">
		<h1>{{detail}}{% if request.user.is_active and request.user.is_staff %} <a href="/admin/data/statedisplaydataydetail/{{detail.id}}/change/" target="_blank"><i class="fa fa-pencil"></i></a>{% endif %}</h1>
        <h2>{{school_year}} </h2>
        <div class="dropdown">
		  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{detail}}
		  <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		  	{% for display_detail in indicator.displaydatay_have_detail %}
		    <li><a href="{% url 'state_detail' indicator.state_indicator_set.state.slug indicator.id school_year.school_year display_detail.detail.slug %}">{{display_detail.detail.name}}</a></li>
		    {% endfor %}
		  </ul>
		</div>		

		  <table class="table table-hover">
		    <thead>
		      <tr>
		        <th></th>
				{% for column in detail.summary %}
					<th style="text-align: right;">{{column.display_name}}</th>
				{% endfor %}
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td>{{state.state_name}}</td>
				{% for column in detail.summary %}
					<td style="text-align: right;">{% get_state_indicator_value state indicator school_year column.display.name as value %}
					{% get_display value %}
					</td>
				{% endfor %}
		      </tr>
		    </tbody>
		  </table>

		<table class="table table-hover" id="table" class="sortable-theme-bootstrap" data-sortable>
			<thead> 
					<tr><th>District Name</th>
					<th>School Name</th>
					{% for column in detail.summary %}
					<th style="text-align: right;">{{column.display_name}}</th>
					{% endfor %}
					</tr>
	 		</thead>
			<tbody>
					<tr data-ng-repeat="row in data.data">
					{% for column in detail.summary %}
					{% if forloop.counter == 1 %}
					<th scope="row" ng-if="row.value{{column.id}} != 'no data'">{[{row.district}]}</th>
					<td ng-if="row.value{{column.id}} != 'no data'">{[{row.school}]}</td>
					{% endif %}
					<td ng-if="row.value{{column.id}} != 'no data'" style="text-align: right;">{[{row.value{{column.id}}}]}</td>
					{% endfor %}
					</tr>
			</tbody>
		</table>
	</div>
    {% endif %}
         
{% endblock body %}

{% block javascript %}
    {% cache 35000 district request.path indicator.id school_year detail.slug %}

	{{block.super}}
	<script src="{% static "sortable-0.8.0/js/sortable.min.js" %}"></script>
	<script src = "{% static "angular-1.3.14/angular.min.js" %}"></script>
    <script>
    	 {% if type == "SCHOOL" %}
         var mainApp = angular.module('mainApp',[]).config(function($interpolateProvider) {
					        $interpolateProvider.startSymbol('{[{');
					        $interpolateProvider.endSymbol('}]}');
					    });
         
         mainApp.controller('tableCtrl', function($scope) {
            $scope.data = {
               data:[
				{% for district in state.districts %}{% for school in district.schools%}
                  {district:'{{district.district_name}}',school:'{{school.school_name}}',
                  	{% for column in detail.summary %}
                   	value{{column.id}}: {% get_district_indicator_value district indicator school_year column.display.name as value %}{% get_display value as display %}'{{display|safe}}',
					{% endfor %}},
				{% endfor %}{% endfor %}
               ]
            };
         });
         {% endif %}
         
         
    </script>
    {% endcache %}
    
{% endblock %}
