{% extends "front_page/base.html" %}{% load staticfiles %}

{% block body %}
      <div class="container body">
      <h1>{{district.district_name}}</h1>
      <h2>{{indicator.title.title}} {{indicator_dataset.school_year.school_year}}</h2>
      <div id="table1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        <table class="table table-hover">
                          <thead> <tr><th></th>
                                      {% for k in indicator_dataset.displaydata_x_display%}
                                      <th>{% if k.display_name %}{{k.display_name}}{% elif k.display.name %}{{k.display.name}}{% else %}{{k}}{% endif %}</th>
                                      {% endfor %}
                                  </tr>
                          </thead>
                          <tbody> 
                                  {% if indicator.dataset %}
                                  {% for indicatordata in indicator_dataset.displaydata %}
                                  <tr><th scope="row">{% if indicatordata.dimension_y.display_name %}{{indicatordata.dimension_y.display_name}}{% else %}{{indicatordata.dimension_y.display}}{% endif %}</th>
                                      {% for row in indicatordata.data %}
                                      {% if row %}<td>
                                      	{% if row.key_value.name %}
											<a href="{% url 'district_detail' district.slug indicator.id row.school_year indicatordata.dimension_y.detail.slug %}">{{row.key_value}}</a>
										{% elif row.key_value == None %}
										{% else %}
                                      		{{row.key_value}}
                                      	{% endif %}{% if row.data_type == 'PERCENT' %}%{% endif %}</td>
                                      {% else %}<td>No Data</td>{% endif %}
                                      {% endfor %}
                                      
                                  </tr>
                                  {% endfor %}
                                  {% endif %}
                          </tbody>
                        </table>            
      </div>

{% endblock %}

{% block javascript %}
{{block.super}}
<script src = "{% static "highcharts-4.2.3/highcharts.js" %}"></script>
<script src = "{% static "highcharts-4.2.3/modules/exporting.js" %}"></script>

<script>

var categories = [{% for k in indicator_dataset.displaydata_x_display%}{% if k == 'School Year' or k == 'Details' %}{% else %}
                '{% if k.display_name %}{{k.display_name}}{% elif k.display.name %}{{k.display.name}}{% else %}{{k}}{% endif %}',{% endif %}{% endfor %}]
var series = [{% for indicatordata in indicator_dataset.displaydata %}{
            name: '{% if indicatordata.dimension_y.display_name %}{{indicatordata.dimension_y.display_name}}{% else %}{{indicatordata.dimension_y.display}}{% endif %}',
            data: [{% for row in indicatordata.data %}{% if row.data_type %}{{row.key_value}},{% endif %} {% endfor %}]
        },{% endfor %}]
{% if indicator.switch_highchart_xy %}
var new_categories = []
var new_series = []

for (var i =0; i < categories.length; i++){
    new_series.push({name:categories[i],data:[]})
}
for( var i = 0; i < series.length; i++){
	new_categories.push(series[i].name);
	for (var j =0; j <series[i].data.length; j++){
		new_series[j].data.push(series[i].data[j]);
	}
}
{% endif %}

$(function () {
    $('#table1').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '{{school.school_name}}'
        },
        subtitle: {
            text: '{{indicator.title.title}} {{indicator_dataset.school_year.school_year}}'
        },
        xAxis: {
        	categories: {% if indicator.switch_highchart_xy %}new_categories{% else %}categories{% endif %},
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y} </b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: {% if indicator.switch_highchart_xy %}new_series{% else %}series{% endif %},
    });
});
</script>


{% endblock %}
