{% extends "front_page/base.html" %}{% load staticfiles %}{% load config %}


{% block css %}
	{{block.super}}
<style id="jsbin-css">
body{
    padding-top:50px;
}
table.floatThead-table {
    border-top: none;
    border-bottom: none;
    background-color: #fff;
}
</style>

{% endblock css %}


{% block body %}
      <div class="container body">
      	<h1>{{district.district_name}}</h1>
      	
		  <div>		      
		      <h4>{{district.description | safe}}</h4>
		    
		    <table class="table table-hover table-bordered sticky-header">
		      <thead><tr>
		          {% get_history_info 'district' district.slug as table %}
		          {% for row in table.dimension_x %}
		          <th>{{row}}</th>
		          {% endfor %}
		      </tr></thead>
		      
		      <tbody>
		      {% for row in table.data %}
		      <tr>
		        {% for data in row %}
		        <td>
		        	{% if data == None%}{% elif data == True %}
		        	<a href="{{request.path}}{% get_history_info_year table.dimension_x forloop.counter %}?category={{row.1}}"><i class="fa fa-check-circle"></i></a>
		        	{% else %}{{data}}{% endif %}
		        </td>
		        {% endfor %}
		      </tr>
		      {% endfor %}
		      </tbody>
		    </table>
		  </div>
      </div>
{% endblock %}

{% block javascript %}
{{block.super}}
	<script src="{% static "js/floatThead.js" %}"></script>

    <script type="text/javascript">
    

    $(document).ready(function(){
        $(".sticky-header").floatThead({scrollingTop:50,top: 'pageTop'});        
    });

    </script>
    
{% endblock javascript %}
