{% extends "front_page/base.html" %}{% load staticfiles %}{% load config %}

{% block body %}

      
      <nav class="side-menu">
        <ul>
          <li class="hidden active">
              <a class="page-scroll" href="#page-top"></a>
          </li>
          <li>
              <a href="#home" class="page-scroll">
                <span class="menu-title">Home</span>
                <span class='dot'></span>
              </a>
          </li>
          {% for i in district.indicatorset %}
          <li>
              <a href="#{{i.order}}" class="page-scroll">
                <span class="menu-title">{{i.title}}</span>
                <span class="dot"></span>
              </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      
      <div class="container-fluid">
        <!-- Start: Header -->
        <div class="row hero-header" id="home">
          <div class="col-md-7">
            <h1>{{district.district_name}}{% if request.user.is_active and request.user.is_staff %} <a href="/admin/data/district/{{district.id}}" target="_blank"><i class="fa fa-pencil"></i></a>{% endif %}</h1>
            <h3>{{district.description|safe}}</h3>
            {% if district.street %}<h4><i class="fa fa-map-marker"></i> {{district.street}} {{district.city}} {{district.state}} {{district.zip}}</h4>{% endif %}
            {% if district.phone%}<h4><i class="fa fa-phone"></i> {{district.phone}}</h4>{% endif %}
            {% if district.website %}<h4 class='header-link'><i class="fa fa-globe"></i> <a href='{{district.website}}' target="_blank">{{district.website}}</a></h4>{% endif %}
            {% if district.superintendent %}<h4><i class="fa fa-user"></i> Superintendent {{district.superintendent}}</h4>{% endif %}
            <h4></h4>
            {% if district.number_of_student %}<p class="btn btn-red" style="cursor: text;">{{district.number_of_student}} Students</p>{% endif %}
			      {% if district.number_of_teacher %}<p class="btn btn-red" style="cursor: text;">{{district.number_of_teacher}} Teachers</p>{% endif %}
            <h5></h5>
            <a class="btn btn-primary" role="button" href="/district/{{district.slug}}/history">Historical Data</a>
          </div>
          <div class="col-md-5 hidden-xs">
            <img src="{% static "img/district.png" %}" class="rocket animated bounce">
          </div>
        </div>
        <!-- End: Header -->
      </div>
      <!-- Start: Schedule -->
      {% for i in district.indicatorset %}
      <section class="container">
        <div class="row me-row schedule" id="{{i.order}}">
          <h2 class="row-title content-ct">{{i.title}}{% if request.user.is_active and request.user.is_staff %} <a href="/admin/data/districtindicatorset/{{i.id}}" target="_blank"><i class="fa fa-pencil"></i></a>{% endif %}</h2>
          <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              {% for j in i.indicators %}
              {% if j.dataset or request.user.is_active and request.user.is_staff %}
              <li role="presentation" {% if forloop.first %}class="active"{% endif %}><a href="#indicator_{{j.id}}" aria-controls="home" role="tab" data-toggle="tab">{{j.title.title}}</a></li>
              {% endif %}{% endfor %}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              {% for j in i.indicators %}
              {% if j.dataset or request.user.is_active and request.user.is_staff %}
              <div role="tabpanel" class="tab-pane fade{% if forloop.first %} in active{% endif %}" id="indicator_{{j.id}}">
                <div class="row">
                  <div class="col-md-{% if 'indicator-col-md-left'|get_config %}{{'indicator-col-md-left'|get_config}}{% else %}4{% endif %}">
                    <div class="media">
                      {% if request.user.is_active and request.user.is_staff %}
                      <div class="media-left">
                        <a href="/admin/data/districtindicator/{{j.id}}" target="_blank">
                          <i class="fa fa-pencil"></i>
                        </a>
                      </div>
                      {% endif %}
                      <div class="media-body">
                        <h4 class="media-heading">{{j.short_title}}</h4>
                        {% if j.dataset %}<h3 class="text-right">{{j.dataset.0.school_year.school_year}}</h3>{% endif %}
                        <p>{{j.description|safe}}</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-{% if 'indicator-col-md-right'|get_config %}{{'indicator-col-md-right'|get_config}}{% else %}8{% endif %}">
                    <div class="media">
                      <div class="media-body">
                        
                        <table class="table table-hover">
                          <thead> <tr><th></th>
                                      {% for k in j.dataset.0.displaydata_x_display%}
                                      <th>{{k}}</th>
                                      {% endfor %}
                                  </tr>
                          </thead>
                          <tbody> 
                                  {% if j.dataset %}
                                  {% for indicatordata in j.dataset.0.displaydata %}
                                  <tr><th scope="row">{% if indicatordata.dimension_y.display_name %}{{indicatordata.dimension_y.display_name}}{% else %}{{indicatordata.dimension_y.display}}{% endif %}</th>
                                      {% for row in indicatordata.data %}
                                      {% if row %}<td>
                                      	{% if row.key_value.name %}
											<a href="{% url 'district_detail' district.slug j.id row.school_year indicatordata.dimension_y.detail.slug %}">{{row.key_value}}</a>
										{% elif row.key_value == None %}
										{% else %}
                                      		{{row.key_value}}
                                      	{% endif %}{% if row.data_type == 'PERCENT' %}%{% endif %}</td>
                                      {% else %}<td>No Data</td>{% endif %}
                                      {% endfor %}
                                      
                                  </tr>
                                  {% endfor %}
                                  {% endif %}


                          </tbody>
                        </table>
                        
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
      {% endfor %}
      <!-- End: Schedule -->

{% endblock body %}
