{% extends "front_page/base.html" %}{% load staticfiles %}

{% block body %}
    <div class="container body" ng-app = "mainApp" ng-controller = "tableCtrl">
    <h1>{{indicator.district_indicator_set.district.district_name}} District Over Time</h1>
      
	{% for select in indicator.over_time.selects %}
		<div class="col-md-2">{{select.lookup_table.display_name}}:</div>
		<div class="col-md-10"><select class="form-control" id="select{{select.id}}" ng-model="select{{select.id}}" {% if select.lookup_table.elements.0 %}ng-init="select{{select.id}}='{{select.lookup_table.elements.0.system_code.code}}'"{% endif %} ng-change="change()">
		  {% for lookup_element in select.lookup_table.elements %}
		  <option {% if forloop.first %}selected="selected" {% endif %}value = "{{lookup_element.system_code.code}}">{% if lookup_element.system_code.display_name%}{{lookup_element.system_code.display_name}}{% else %}{{lookup_element.system_code.code}}{% endif %}</option>
		  {% endfor %}
		</select></div>
	{% endfor %}
		<div id="highchart" style="min-width: 310px; margin:0 auto"></div>
		<table class="table table-hover" id="table" class="sortable-theme-bootstrap" data-sortable>

		</table>
      </div>
{% endblock %}

{% block javascript %}
    {{block.super}}
    <script src = "{% static "highcharts-4.2.3/highcharts.js" %}"></script>
    <script src = "{% static "highcharts-4.2.3/modules/exporting.js" %}"></script>
	<script src = "{% static "angular-1.3.14/angular.min.js" %}"></script>
<script>
String.prototype.endsWith = function (substring) {
  if(substring.length > this.length) return false;
  return this.substr(this.length - substring.length) === substring;
};
var lookup = {{% for element in indicator.over_time.elements %}
				{% if element.display_name %}"{{element.dimension_name.name}}":"{{element.display_name}}",
				{% endif %}
			  {% endfor %}}
var color = {{% for element in indicator.over_time.elements %}
				{% if element.color_hex %}"{{element.dimension_name.name}}":"{{element.color_hex}}",
				{% endif %}{% endfor %}}

var data = [{% for element in indicator.over_time.elements %}"{{element.dimension_name.name}}",{% endfor %}];
var negative =[{% for element in indicator.over_time.elements %}{% if element.is_positive %}{%else%}"{{element.dimension_name.name}}",{% endif %}{% endfor %}];
var data_type = '{{indicator.over_time.data_type}}';

function getName(){
	var result = "";
	{% for select in indicator.over_time.selects %}
	result = result + document.getElementById("select{{select.id}}").value + " ";
	{% endfor %}
	dataset = [];
	for (i=0; i < data.length; i++){
		dataset.push(result + data[i]);
	}
	return dataset;
}

function clone(obj) {
    if (null == obj || "object" != typeof obj) return obj;
    var copy = obj.constructor();
    for (var attr in obj) {
        if (obj.hasOwnProperty(attr)) copy[attr] = obj[attr];
    }
    return copy;
}

function highcharts(data){
	var title_text = ""
	{% for select in indicator.over_time.selects %}
	title_text = title_text +" "+ $("#select{{select.id}} option:selected").text();
	{% endfor %}

		        var series = []
            	for (var i = 0; i < data["data"].length;i++){
            		obj = {}
            		obj["name"] = data["data"][i]["name"];

            		
            		obj["data"] = [];
            		
            		positive = true;
				  	for (var j=0; j<negative.length; j++){
						if (obj["name"].endsWith(negative[j])){
			  				positive = false;
			  			}
			  		}
            		
            		for ( var j =0; j < data["data"][i]["row"].length; j++){
            			var value = parseFloat(data["data"][i]["row"][j]);
            			if (isNaN(value))
                            obj["data"].push(null);
            			else if(positive)
            				if (value == -1) obj["data"].push(null);
            				else obj["data"].push(value);
            			else
            				if(value == -1)obj["data"].push(null);
            				else obj["data"].push(value*-1);
            		}
            		
            		for (var key in lookup){
				  		if (!lookup.hasOwnProperty(key)) continue;
				  		if (data["data"][i]["name"].endsWith(key)){
				  			obj["name"]=lookup[key];
				  		}
				  	}
            		
            		for (var key in color){
				  		if (!lookup.hasOwnProperty(key)) continue;
				  		if (data["data"][i]["name"].endsWith(key)){
				  			obj["color"]=color[key];
				  		}
				  	}
            		
            		series.push(obj);
            	}
            	            	
            	{% if indicator.over_time.chart_type == 'PIE-CHART' %}
            	series = [];
            	template1 = {
				            type: 'pie',
				            name: 'Browser share',
				            center: ["10%","50%"],
				            size: 100,
				            dataLabels: {
								enabled: false
							},
							showInLegend: true,
				            data: []
				        }
				 template2 = {
				            type: 'pie',
				            name: 'Browser share',
				            center: ["10%","50%"],
				            size: 100,
				            dataLabels: {
								enabled: false
							},
				            data: []
				        }
				base = 100 / data.school_year.length / 2;
            	for(var i = 0; i<data.school_year.length; i++){
            	    center = 100 / data.school_year.length * (i+1) - base;
            	    
            	    if (i==0) {template = template1}
            		else {template = template2}
            		template = clone(template);
            		template.name = data.school_year[i];
            		template.center = [center+"%", "50%"];
            		template.data = [];
            		for(var j = 0; j<data.data.length; j++){
            		    console.log([data.data[j].name, data.data[j].row[i]]);
            		    template.data.push([data.data[j].name, parseInt(data.data[j].row[i])]);
            		}
            		console.log(template);
            		series.push(template);
            	}
            	
            	
            	$(function () {
				    $('#highchart').highcharts({
				        chart: {
				            plotBackgroundColor: null,
				            plotBorderWidth: 1,//null,
				            plotShadow: false,
				        },
				        title: {
				            text: '{{indicator.district_indicator_set.district.district_name}}'+title_text
				        },
				        tooltip: {
				            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
				        },
				        
				        plotOptions: {
				            pie: {
				                allowPointSelect: true,
				                cursor: 'pointer'
				            }
				        },
				        series: series
				    },function(chart) {
				            
				        $(chart.series[0].data).each(function(i, e) {
				            e.legendItem.on('click', function(event) {
				                var legendItem=e.name;
				                
				                event.stopPropagation();
				                
				                $(chart.series).each(function(j,f){
				                       $(this.data).each(function(k,z){
				                           if(z.name==legendItem)
				                           {
				                               if(z.visible)
				                               {
				                                   z.setVisible(false);
				                               }
				                               else
				                               {
				                                   z.setVisible(true);
				                               }
				                           }
				                       });
				                });
				                
				            });
				        });
				    });
				});
            	{% else %}
            	$(function () {
				    $('#highchart').highcharts({
				        chart: {
				            type: {% if indicator.over_time.chart_type == 'AREA-CHART' %}'area'{% elif indicator.over_time.chart_type == 'HORZ-BAR-CHART' %}'bar'{% elif indicator.over_time.chart_type == 'LINE-CHART' %}'line'{% else %}'column'{% endif %}
				        },
				        title: {
				            text: '{{indicator.district_indicator_set.district.district_name}}'+title_text
				        },
				        xAxis: {
				            categories: data["school_year"],
				            labels: {
				                style: {
				                    fontSize: '13px',
				                    "fontWeight":"bold"
				                }
				            }
				        },
				        yAxis: {
				            title: {
				                text: '<b>{{indicator.over_time.y_axis_title_text}}</b>'
				            },
				            {% if indicator.over_time.data_type == 'PERCENT' %}min: -100, max: 100,{% endif %}
				            labels: {
				                formatter: function () {
				                	data_type = '{{indicator.over_time.data_type}}';
				                    if(data_type=='PERCENT'){
				                    if (this.axis.defaultLabelFormatter.call(this) < 0)
				                    return (this.axis.defaultLabelFormatter.call(this)*-1)+'%';
				                    else return this.axis.defaultLabelFormatter.call(this)+'%';}
				                    else {
				                    if (this.axis.defaultLabelFormatter.call(this)[0] == '-'){
				                    return (this.axis.defaultLabelFormatter.call(this).substring(1));}
				                    else {return this.axis.defaultLabelFormatter.call(this);}}
				                }
				            },
				            gridLineColor: '#197F07',
					        gridLineWidth: 0,
					        lineWidth:1,
					        plotLines: [{
					            color: '#000000',
					            width: 3,
					            value: 0
					        }],
				            stackLabels: {
				                enabled: true,
				                formatter:function() {
				                	if (this.total < 0){if(data_type=='PERCENT')return {% if indicator.over_time.stack_label_negative %}"{{indicator.over_time.stack_label_negative}} "+this.total+"%"{% else %}""{% endif %};
				                	return {% if indicator.over_time.stack_label_negative %}"{{indicator.over_time.stack_label_negative}} "+this.total*-1{% else %}""{% endif %};}
				                	else{if(data_type=='PERCENT')return {% if indicator.over_time.stack_label_positive %}"{{indicator.over_time.stack_label_positive}} "+this.total+"%"{% else %}""{% endif%};
				                	return {% if indicator.over_time.stack_label_positive %}"{{indicator.over_time.stack_label_positive}} "+this.total{% else %}""{% endif %};}
				                },
				                style: {
				                    fontWeight: 'bold',
				                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
				                }
				            }
				        },
				        tooltip: { enabled: false },
				        plotOptions: {
				            column: {
				                stacking: 'normal',
				                dataLabels: {
				                    enabled: true,
				                    
				                    formatter:function() {
							                    if (this.y < 0){var pcnt = this.y*-1;}
							                    else{var pcnt = this.y;}
							                    if(data_type=='PERCENT')
							                    	return pcnt+'%';
							                    else
							                    	return pcnt;
							        },
				                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
				                    style: {
				                        textShadow: '0 0 3px black'
				                    }
				                }
				            }
				        },
				        series: series
				    });
				});
				{% endif %}

}

         var mainApp = angular.module('mainApp',[]).config(function($interpolateProvider) {
					        $interpolateProvider.startSymbol('{[{');
					        $interpolateProvider.endSymbol('}]}');
					        
					    });	

    mainApp.controller('tableCtrl', ['$scope', '$http', function($scope, $http) {
		
		$scope.change = function() {
            $.ajax({method: 'POST', 
            		url: '{% url 'overtime' %}', 
            		data: {csrfmiddlewaretoken: "{{ csrf_token }}",
            		type:"district", 
            		slug:"{{indicator.district_indicator_set.district.slug}}", 
            		category:"{{indicator.title.title}}", 
            		school_year:[],
            		dataset:JSON.stringify(getName())},
            		headers: {'Content-Type': 'application/x-www-form-urlencoded'}
            		}).
            success(function(data, status, headers, config) {
                $scope.data = data;
                highcharts(data);
                 var headers=data["school_year"];
				  var rowHtml='<tr><th></th><th>'+headers.join('</th><th>')+'</th></tr>';
				  
				  for (var i =0; i<data["data"].length; i++){
				  		name = data["data"][i]["name"];
				  		for (var key in lookup){
				  			if (!lookup.hasOwnProperty(key)) continue;
				  			var obj = lookup[key];
				  			if (data["data"][i]["name"].endsWith(key)){
				  				name = lookup[key];
				  			}
				  		}
				  		
				  		rowHtml+='<tr><td>'+name+'</td>';
				  		data_row = []
				  		for (var x=0; x<data["data"][i]["row"].length;x++){
				  			var value = data["data"][i]["row"][x];
							if (data_type=='PERCENT'){
								if (value == -1) data_row.push("too few data");
								else if (value == null || value == "") data_row.push("no data");
								else data_row.push(value+"%");}
							else{
								if (value == -1) data_row.push("too few data");
								else if (value == null || value == "") data_row.push("no data");
								else data_row.push(value);}
				  		}
				  		rowHtml +='<td>'+data_row.join('</td><td>')+'</td></tr>';
				  }
				  $('#table').html(rowHtml);                
            }).
            error(function(data, status, headers, config) {});
        };
        
        $scope.$watch('search', function() {
			
            $.ajax({method: 'POST', 
            		url: '{% url 'overtime' %}', 
            		data: {csrfmiddlewaretoken: "{{ csrf_token }}",
            		type:"district", 
            		slug:"{{indicator.district_indicator_set.district.slug}}", 
            		category:"{{indicator.title.title}}", 
            		school_year:[],
            		dataset:JSON.stringify(getName())},
            		headers: {'Content-Type': 'application/x-www-form-urlencoded'}
            		}).
            success(function(data, status, headers, config) {
            	
            
                $scope.data = data;
                highcharts(data);
                var headers=data["school_year"];
                var rowHtml='<tr><th></th><th>'+headers.join('</th><th>')+'</th></tr>';
				
				for (var i =0; i<data["data"].length; i++){
						name = data["data"][i]["name"]
						for (var key in lookup){
				  			if (!lookup.hasOwnProperty(key)) continue;
				  			var obj = lookup[key];
				  			if (data["data"][i]["name"].endsWith(key)){
				  				name=lookup[key];
				  			}
				  		}
				  		rowHtml+='<tr><td>'+name+'</td>';
				  		data_row = []
				  		for (var x=0; x<data["data"][i]["row"].length;x++){
				  			var value = data["data"][i]["row"][x];
							if (data_type=='PERCENT'){
								if (value == -1) data_row.push("too few data");
								else if (value == null) data_row.push("no data");
								else data_row.push(value+"%");}
							else{
								if (value == -1) data_row.push("too few data");
								else if (value == null) data_row.push("no data");
								else data_row.push(value);}
				  		}
				  		rowHtml +='<td>'+data_row.join('</td><td>')+'</td></tr>';
				}
				$('#table').html(rowHtml);
                
            }).
            error(function(data, status, headers, config) {});
        });        
        
    }]);





</script>

{% endblock %}
