{% extends "front_page/base.html" %}{% load staticfiles %}

{% block body %}

      
      <nav class="side-menu">
        <ul>
          <li class="hidden active">
              <a class="page-scroll" href="#page-top"></a>
          </li>
          <li>
              <a href="#home" class="page-scroll">
                <span class="menu-title">Home</span>
                <span class='dot'></span>
              </a>
          </li>
          {% for i in district.indicatorset %}
          <li>
              <a href="#{{i.order}}" class="page-scroll">
                <span class="menu-title">{{i.title}}</span>
                <span class="dot"></span>
              </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      
      <div class="container-fluid">
        <!-- Start: Header -->
        <div class="row hero-header" id="home">
          <div class="col-md-7">
            <h1>{{district.district_name}}</h1>
            <h3>{{district.description}}</h3>
            <h4><i class="fa fa-map-marker"></i> {{district.street}} {{district.city}} {{district.state}} {{district.zip}}</h4>
            <h4><i class="fa fa-phone"></i> {{district.phone}}</h4>
            <h4><i class="fa fa-globe"></i> {{district.website}}</h4>
          </div>
          <div class="col-md-5 hidden-xs">
            <img src="{% static "img/rocket.png" %}" class="rocket animated bounce">
          </div>
        </div>
        <!-- End: Header -->
      </div>
      <!-- Start: Schedule -->
      {% for i in district.indicatorset %}
      <section class="container">
        <div class="row me-row schedule" id="{{i.order}}">
          <h2 class="row-title content-ct">{{i.title}}</h2>
          <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              {% for j in i.indicators %}
              <li role="presentation" {% if forloop.first %}class="active"{% endif %}><a href="#indicator_{{j.id}}" aria-controls="home" role="tab" data-toggle="tab">{{j.title.title}}</a></li>
              {% endfor %}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              {% for j in i.indicators %}
              <div role="tabpanel" class="tab-pane fade{% if forloop.first %} in active{% endif %}" id="indicator_{{j.id}}">
                <div class="row">
                  <div class="col-md-5">
                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                          <img class="media-object" src="{% static "img/speaker-1.png" %}" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">{{j.short_title}}</h4>
                        <p>{{j.description}}</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-7">
                    <div class="media">
                      <div class="media-body">
                        
                        <table class="table table-hover">
                          <thead> <tr><th></th>
                                      {% for k in j.displaydata%}
                                      <th>{{k.display.name}}</th>
                                      {% endfor %}
                                  </tr>
                          </thead>
                          <tbody> 
                                  {% if j.dataset %}
                                  {% for indicatordata in j.dataset.0.displaydata %}
                                  <tr><th scope="row">{{indicatordata.dimension_y}}</th>
                                      {% for row in indicatordata.data %}
                                      {% if row %}<td>{{row.key_value}}</td>
                                      {% else %}<td>No Data</td>{% endif %}
                                      {% endfor %}
                                  </tr>
                                  {% endfor %}
                                  {% endif %}


                          </tbody>
                        </table>
                        
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
      {% endfor %}
      <!-- End: Schedule -->

{% endblock body %}