{% extends "front_page/base.html" %}{% load staticfiles %}

{% block body %}
    <div class="container body" ng-app = "mainApp" ng-controller = "tableCtrl">
    <h1>{{indicator.district_indicator_set.district.district_name}} District Over Time</h1>
      
	{% for select in indicator.over_time.selects %}
		<div class="col-md-2">{{select.lookup_table.display_name}}:</div>
		<div class="col-md-10"><select class="form-control" id="select{{select.id}}" ng-model="select{{select.id}}" {% if select.lookup_table.elements.0 %}ng-init="select{{select.id}}='{{select.lookup_table.elements.0.system_code.code}}'"{% endif %} ng-change="change()">
		  {% for lookup_element in select.lookup_table.elements %}
		  <option {% if forloop.first %}selected="selected" {% endif %}value = "{{lookup_element.system_code.code}}">{{lookup_element.system_code.code}}</option>
		  {% endfor %}
		</select></div>
	{% endfor %}
		<div id="highchart" style="min-width: 310px; margin:0 auto"></div>
		<table class="table table-hover" id="table" class="sortable-theme-bootstrap" data-sortable>

		</table>
      </div>
{% endblock %}

{% block javascript %}
    {{block.super}}
	<script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script>
String.prototype.endsWith = function (substring) {
  if(substring.length > this.length) return false;
  return this.substr(this.length - substring.length) === substring;
};

var data = [{% for element in indicator.over_time.elements %}"{{element.dimension_name.name}}",{% endfor %}]
var negative =[{% for element in indicator.over_time.elements %}{% if element.is_positive %}{%else%}"{{element.dimension_name.name}}",{% endif %}{% endfor %}]

function getName(){
	var result = "";
	{% for select in indicator.over_time.selects %}
	result = result + document.getElementById("select{{select.id}}").value + " ";
	{% endfor %}
	dataset = [];
	for (i=0; i < data.length; i++){
		dataset.push(result + data[i]);
	}
	console.log(dataset);
	return dataset;
}
function highcharts(data){
	var title_text = ""
	{% for select in indicator.over_time.selects %}
	title_text = title_text +" "+ $("#select{{select.id}}").val();
	{% endfor %}

		        var series = []
            	for (var i = 0; i < data["data"].length;i++){
            		obj = {}
            		obj["name"] = data["data"][i]["name"];
            		obj["data"] = [];
            		
            		positive = true;
				  	for (var j=0; j<negative.length; j++){
						if (obj["name"].endsWith(negative[j])){
			  				positive = false;
			  			}
			  		}
            		
            		for ( var j =0; j < data["data"][i]["row"].length; j++){
            			if(positive)
            				obj["data"].push(parseFloat(data["data"][i]["row"][j]));
            			else
            				obj["data"].push(parseFloat(data["data"][i]["row"][j])*-1);
            		}
            		series.push(obj);
            	}
            	
            	console.log(series);
            	
            	$(function () {
				    $('#highchart').highcharts({
				        chart: {
				            type: 'column'
				        },
				        title: {
				            text: '{{indicator.district_indicator_set.district.district_name}}'+title_text
				        },
				        xAxis: {
				            categories: data["school_year"]
				        },
				        yAxis: {
				            title: {
				                text: 'Total'
				            },
				            gridLineColor: '#197F07',
					        gridLineWidth: 0,
					        lineWidth:1,
					        plotLines: [{
					            color: '#000000',
					            width: 3,
					            value: 0
					        }],
				            stackLabels: {
				                enabled: true,
				                formatter:function() {
				                	if (this.total < 0){return "Total: "+this.total*-1;}
				                	else{return "Total: "+this.total;}
				                },
				                style: {
				                    fontWeight: 'bold',
				                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
				                }
				            }
				        },
				        tooltip: {
				            headerFormat: '<b>{point.x}</b><br/>',
				            //pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
				            formatter: function() {
				            	if (this.point.y < 0){y=this.point.y*-1}
				            	else{y=this.point.y}
				            	if (this.point.stackTotal < 0){stackTotal=this.point.stackTotal*-1}
				            	else{stackTotal=this.point.stackTotal}
				            	
				            	return this.series.name +": "+y+"<br />Total: "+stackTotal;
    						}
				        },
				        plotOptions: {
				            column: {
				                stacking: 'normal',
				                dataLabels: {
				                    enabled: true,
				                    
				                    formatter:function() {
							                    if (this.y < 0){var pcnt = this.y*-1;}
							                    else{var pcnt = this.y;}
							                    return pcnt;
							        },
				                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
				                    style: {
				                        textShadow: '0 0 3px black'
				                    }
				                }
				            }
				        },
				        series: series
				    });
				});

}

         var mainApp = angular.module('mainApp',[]).config(function($interpolateProvider) {
					        $interpolateProvider.startSymbol('{[{');
					        $interpolateProvider.endSymbol('}]}');
					        
					    });	

    mainApp.controller('tableCtrl', ['$scope', '$http', function($scope, $http) {
		
		$scope.change = function() {
            $.ajax({method: 'POST', 
            		url: '{% url 'overtime' %}', 
            		data: {csrfmiddlewaretoken: "{{ csrf_token }}",
            		type:"district", 
            		slug:"{{indicator.district_indicator_set.district.slug}}", 
            		category:"{{indicator.title.title}}", 
            		school_year:[],
            		dataset:JSON.stringify(getName())},
            		headers: {'Content-Type': 'application/x-www-form-urlencoded'}
            		}).
            success(function(data, status, headers, config) {
                $scope.data = data;
                highcharts(data);
                 var headers=data["school_year"];
				  var rowHtml='<tr><th></th><th>'+headers.join('</th><th>')+'</th></tr>';
				  
				  for (var i =0; i<data["data"].length; i++){
				  		positive = true;
				  		for (var j=0; j<negative.length; j++){
				  			if (data["data"][i]["name"].endsWith(negative[j])){
				  				positive = false;
				  			}
				  		}
				  		rowHtml+='<tr><td>'+data["data"][i]["name"]+'</td>';
				  		if (positive){
				  			rowHtml +='<td>'+data["data"][i]["row"].join('</td><td>')+'</td></tr>';
				  		}
				  		else{
				  			for(var j= 0; j < data["data"][i]["row"].length; j++){
				  		    	data["data"][i]["row"][j]=data["data"][i]["row"][j]*-1;
				  		    }
				  			rowHtml +='<td>'+data["data"][i]["row"].join('</td><td>')+'</td></tr>';
				  		}
				  }
				  $('#table').html(rowHtml);                
            }).
            error(function(data, status, headers, config) {});
        };
        
        $scope.$watch('search', function() {
			
            $.ajax({method: 'POST', 
            		url: '{% url 'overtime' %}', 
            		data: {csrfmiddlewaretoken: "{{ csrf_token }}",
            		type:"district", 
            		slug:"{{indicator.district_indicator_set.district.slug}}", 
            		category:"{{indicator.title.title}}", 
            		school_year:[],
            		dataset:JSON.stringify(getName())},
            		headers: {'Content-Type': 'application/x-www-form-urlencoded'}
            		}).
            success(function(data, status, headers, config) {
            	
            
                $scope.data = data;
                highcharts(data);
                var headers=data["school_year"];
                var rowHtml='<tr><th></th><th>'+headers.join('</th><th>')+'</th></tr>';
				
				for (var i =0; i<data["data"].length; i++){
						
				  		rowHtml+='<tr><td>'+data["data"][i]["name"]+'</td>';
				  		rowHtml +='<td>'+data["data"][i]["row"].join('</td><td>')+'</td></tr>';
				}
				$('#table').html(rowHtml);
                
            }).
            error(function(data, status, headers, config) {});
        });        
        
    }]);





</script>

{% endblock %}
