{% extends "front_page/base.html" %}{% load staticfiles %}
<!DOCTYPE html>

{% block body %}
      <section class="container body">
          <div class="text-right">
            <span class="step-links">
                {% if district.has_previous %}
                    <a href="?page={{ district.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ district.number }} of {{ district.paginator.num_pages }}.
                </span>
        
                {% if district.has_next %}
                    <a href="?page={{ district.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
          
          
           <table class="table table-hover">
               <thead>
                  <tr>
                     <th>District</th>
                     <th>School</th>
                     <th>Grades</th>
                  </tr>
               </thead>
               <tbody>
                   {% for d in district %}{% for school in d.schools %}
                  <tr>
                     <th scope="row"><a href="{% url 'district' d.slug %}">{{d.district_name}}</a></th>
                     <td><a href="{% url 'school' school.slug %}">{{school.school_name}}</a></td>
                     <td>
                        <p class="btn btn-red btn-xs" style="cursor: text;" {% if school.grade_pk == False %}disabled="disabled"{% endif %}>PK</p>
                        <p class="btn btn-red btn-xs" style="cursor: text;" {% if school.grade_k == False %}disabled="disabled"{% endif %}>K</p>
                        <p class="btn btn-red btn-xs" style="cursor: text;" {% if school.grade_1 == False %}disabled="disabled"{% endif %}>1</p>
                        <p class="btn btn-red btn-xs" style="cursor: text;" {% if school.grade_2 == False %}disabled="disabled"{% endif %}>2</p>
                        <p class="btn btn-red btn-xs" style="cursor: text;" {% if school.grade_3 == False %}disabled="disabled"{% endif %}>3</p>
                        <p class="btn btn-red btn-xs" style="cursor: text;" {% if school.grade_4 == False %}disabled="disabled"{% endif %}>4</p>
                        <p class="btn btn-red btn-xs" style="cursor: text;" {% if school.grade_5 == False %}disabled="disabled"{% endif %}>5</p>
                        <p class="btn btn-red btn-xs" style="cursor: text;" {% if school.grade_6 == False %}disabled="disabled"{% endif %}>6</p>
                        <p class="btn btn-red btn-xs" style="cursor: text;" {% if school.grade_7 == False %}disabled="disabled"{% endif %}>7</p>
                        <p class="btn btn-red btn-xs" style="cursor: text;" {% if school.grade_8 == False %}disabled="disabled"{% endif %}>8</p>
                        <p class="btn btn-red btn-xs" style="cursor: text;" {% if school.grade_9 == False %}disabled="disabled"{% endif %}>9</p>
                        <p class="btn btn-red btn-xs" style="cursor: text;" {% if school.grade_10 == False %}disabled="disabled"{% endif %}>10</p>
                        <p class="btn btn-red btn-xs" style="cursor: text;" {% if school.grade_11 == False %}disabled="disabled"{% endif %}>11</p>
                        <p class="btn btn-red btn-xs" style="cursor: text;" {% if school.grade_12 == False %}disabled="disabled"{% endif %}>12</p>
                         
                         
                     </td>
                  </tr>
                    {% endfor %}{% endfor %}

               </tbody>
            </table>

        <div class="pagination">
            <span class="step-links">
                {% if district.has_previous %}
                    <a href="?page={{ district.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ district.number }} of {{ district.paginator.num_pages }}.
                </span>
        
                {% if district.has_next %}
                    <a href="?page={{ district.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>


        </section>

{% endblock body %}