{% extends "front_page/base.html" %}{% load staticfiles %}
{% block title %}{{indicator.school_indicator_set.school.school_name}} {{indicator.title}} Over Time{% endblock %}
{% block body %}
    <div class="container body" ng-app = "mainApp" ng-controller = "tableCtrl">
    <h1>{{indicator.school_indicator_set.school.school_name}} Over Time</h1>
      
	{% for select in indicator.over_time.selects %}
		<div class="col-md-2">{{select.lookup_table.display_name}}:</div>
		<div class="col-md-10"><select class="form-control" id="select{{select.id}}" ng-model="select{{select.id}}" {% if select.lookup_table.elements.0 %}ng-init="select{{select.id}}='{{select.lookup_table.elements.0.system_code.code}}'"{% endif %} ng-change="change()">
		  {% for lookup_element in select.lookup_table.elements %}
		  <option {% if forloop.first %}selected="selected" {% endif %}value = "{{lookup_element.system_code.code}}">{% if lookup_element.system_code.display_name%}{{lookup_element.system_code.display_name}}{% else %}{{lookup_element.system_code.code}}{% endif %}</option>
		  {% endfor %}
		</select></div>
	{% endfor %}
		<div id="highchart" style="min-width: 310px; margin:0 auto"></div>
		<table class="table table-hover" id="table" class="sortable-theme-bootstrap" data-sortable>

		</table>
      </div>
{% endblock %}

{% block javascript %}
    {{block.super}}
    <script src = "{% static "highcharts-4.2.3/highcharts.js" %}"></script>
    <script src = "{% static "highcharts-4.2.3/modules/exporting.js" %}"></script>
	<script src = "{% static "angular-1.3.14/angular.min.js" %}"></script>
<script>
String.prototype.endsWith = function (substring) {
  if(substring.length > this.length) return false;
  return this.substr(this.length - substring.length) === substring;
};
var lookup = {{% for element in indicator.over_time.elements %}
				{% if element.display_name %}"{{element.dimension_name.name}}":"{{element.display_name}}",
				{% endif %}
			  {% endfor %}}
var color = {{% for element in indicator.over_time.elements %}
				{% if element.color_hex %}"{{element.dimension_name.name}}":"{{element.color_hex}}",
				{% endif %}{% endfor %}}

var data = [{% for element in indicator.over_time.elements %}"{{element.dimension_name.name}}",{% endfor %}];
var negative =[{% for element in indicator.over_time.elements %}{% if element.is_positive %}{%else%}"{{element.dimension_name.name}}",{% endif %}{% endfor %}];
{% if indicator.over_time.over_time_type == 'APPEND_OVER_TIME' %}
{% include "charts/append_over_time.js" with indicator=indicator %}
{% endif %}
{% if indicator.over_time.over_time_type == 'REFRESH_OVER_TIME' %}
{% include "charts/refresh_over_time.js" with indicator=indicator %}
{% endif %}
</script>

{% endblock %}
