{% extends "front_page/base.html" %}{% load staticfiles %}{% load humanize %}

{% block body %}
      <div class="container body">
      {{indicator}}
      <h1>{{detail}}{% if request.user.is_active and request.user.is_staff %} <a href="/admin/data/schooldisplaydataydetail/{{detail.id}}/change/" target="_blank"><i class="fa fa-pencil"></i></a>{% endif %}</h1>
      <div class="dropdown">
		  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{detail}}
		  <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		  	{% for display_detail in indicator.displaydatay_have_detail %}
		    <li><a href="{% url 'school_detail' indicator.school_indicator_set.school.slug indicator.id school_year.school_year display_detail.detail.slug %}">{{display_detail.detail.name}}</a></li>
		    {% endfor %}
		  </ul>
		</div>
            <h1>{{school_year}}</h1>
            {% for i in detail_set %}
                  <h2>{{i.set_name.title}}{% if request.user.is_active and request.user.is_staff %} <a href="/admin/data/schooldisplaydataydetailset/{{i.set_name.id}}/change/" target="_blank"><i class="fa fa-pencil"></i></a>{% endif %}</h2>
                        {% if i.set_name.display_type == 'BAR-CHART' %}
                        <div id="{{i.set_name.display_type}}{{forloop.counter}}" value="{{i.set_name.title}}" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                        {% else %}
                        {% endif %}
                        <table class="table table-hover">
                          <thead> <tr><th></th>
                                      {% for key, values in i.data.items %}
                                      {% if forloop.first %}{% for j in values.names %}<th>{{j}}</th>{% endfor %}{% endif %}
                                      {% endfor %}
                                  </tr>
                          </thead>
                          <tbody> 
                                  {% for key, values in i.data.items %}
                                  <tr><th scope="row">{{key}}</th>
                                      {% for row in values.data %}
                                      <td>{% if row.data_type == 'NUMERIC' %}{{row.key_value|intcomma}}{% elif row.data_type == 'PERCENT' %}{{row.key_value}}%{%else%}{{row.key_value}}{% endif %}</td>
                                      {% endfor %}
                                  </tr>
                                  {% endfor %}
                          </tbody>
                        </table>
            {% endfor %}
      </div>
{% endblock %}

{% block javascript %}
    {{block.super}}
    {% include "charts/bar_chart.js" with detail_set=detail_set %}

{% endblock %}
