{% extends "front_page/base.html" %}{% load staticfiles %}{% load config %}

{% block css %}
	<link rel="stylesheet" href="{% static "sortable-0.8.0/css/sortable-theme-bootstrap.css" %}" />
	{{block.super}}
{% endblock css %}

{% block body %}
	{% if type == "SCHOOL" %}
	<div class="container body" ng-app = "mainApp" ng-controller = "tableCtrl">
		<h1>{{detail}}{% if request.user.is_active and request.user.is_staff %} <a href="/admin/data/statedisplaydataydetail/{{detail.id}}/change/" target="_blank"><i class="fa fa-pencil"></i></a>{% endif %}</h1>
        <div class="dropdown">
		  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{detail}}
		  <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		  	{% for display_detail in indicator.displaydatay_have_detail %}
		    <li><a href="{% url 'state_detail' indicator.state_indicator_set.state.slug indicator.id school_year.school_year display_detail.detail.slug %}">{{display_detail.detail.name}}</a></li>
		    {% endfor %}
		  </ul>
		</div>		
		<div class="col-md-6 text-left">{{state.state_name}} {{y.0.display}}</div>
		<div class="col-md-6 text-right">{% get_state_indicator_value state school_year y.0.display.name as value %}{{value.key_value}}{% if value.data_type == 'PERCENT' %}%{% endif %}</div>
		
		<table class="table table-hover" id="table" class="sortable-theme-bootstrap" data-sortable>
			<thead> 
					<tr><th>District Name</th>
					<th>School Name</th>
					<th style="text-align: right;">{{school_year}} {{y.0.display}}</th>
					</tr>
	 		</thead>
			<tbody>
					<tr data-ng-repeat="row in data.data">
					<th scope="row" ng-if="row.value != ''">{[{row.district}]}</th>
					<td ng-if="row.value != ''">{[{row.school}]}</td>
					<td ng-if="row.value != ''" style="text-align: right;">{[{row.value}]}</td>
					</tr>
			</tbody>
		</table>
	</div>
	{% elif type == "DISTRICT" %}
	<div class="container body" ng-app = "mainApp" ng-controller = "tableCtrl">
		<h1>{{detail}}{% if request.user.is_active and request.user.is_staff %} <a href="/admin/data/statedisplaydataydetail/{{detail.id}}/change/" target="_blank"><i class="fa fa-pencil"></i></a>{% endif %}</h1>
		<div class="col-md-6 text-left">{{state.state_name}} {{y.0.display}}</div>
		<div class="col-md-6 text-right">{% get_state_indicator_value state school_year y.0.display.name as value %}{{value.key_value}}{% if value.data_type == 'PERCENT' %}%{% endif %}</div>
		
		<table class="table table-hover" id="table" class="sortable-theme-bootstrap" data-sortable>
			<thead> 
					<tr><th>District Name</th>
					<th style="text-align: right;">{{school_year}} {{y.0.display}}</th>
					</tr>
	 		</thead>
			<tbody>
					<tr data-ng-repeat="row in data.data">
					<th scope="row" ng-if="row.value != ''">{[{row.district}]}</th>
					<td ng-if="row.value != ''" style="text-align: right;">{[{row.value}]}</td>
					</tr>
			</tbody>
		</table>
	</div>
    {% endif %}
         
{% endblock body %}

{% block javascript %}
	{{block.super}}
	<script src="{% static "sortable-0.8.0/js/sortable.min.js" %}"></script>
	<script src = "{% static "angular-1.3.14/angular.min.js" %}"></script>
    <script>
    	 {% if type == "SCHOOL" %}
         var mainApp = angular.module('mainApp',[]).config(function($interpolateProvider) {
					        $interpolateProvider.startSymbol('{[{');
					        $interpolateProvider.endSymbol('}]}');
					    });
         
         mainApp.controller('tableCtrl', function($scope) {
            $scope.data = {
               data:[
				{% for district in state.districts %}{% for school in district.schools%}
                  {district:'{{district.district_name}}',school:'{{school.school_name}}',
                   value: {% get_school_indicator_value school school_year y.0.display.name as value %}{% if value.data_type == 'NUMERIC' %}{{value.key_value}}{% elif value.data_type == 'PERCENT' %}'{{value.key_value}}%'{% else %}'{{value.key_value}}'{% endif %} },
				{% endfor %}{% endfor %}
               ]
            };
         });
         {% elif type == "DISTRICT" %}
         var mainApp = angular.module('mainApp',[]).config(function($interpolateProvider) {
					        $interpolateProvider.startSymbol('{[{');
					        $interpolateProvider.endSymbol('}]}');
					    });
         
         mainApp.controller('tableCtrl', function($scope) {
            $scope.data = {
               data:[
				{% for district in state.districts %}
                  {district:'{{district.district_name}}',
                   value: {% get_district_indicator_value district school_year y.0.display.name as value %}{% if value.data_type == 'NUMERIC' %}{{value.key_value}}{% elif value.data_type == 'PERCENT' %}'{{value.key_value}}%'{% else %}'{{value.key_value}}'{% endif %} },
				{% endfor %}
               ]
            };
         });
         {% endif %}
         
         
    </script>
{% endblock javascript %}
