{% extends "front_page/base.html" %}{% load staticfiles %}{% load config %}{% load cache %}

{% block css %}
	<link rel="stylesheet" href="{% static "css/jquery.dataTables.min.css" %}" />
	<link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/1.10.12/features/searchHighlight/dataTables.searchHighlight.css" />
	{{block.super}}
<style id="jsbin-css">
body{
    padding-top:50px;
}
table.floatThead-table {
    border-top: none;
    border-bottom: none;
    background-color: #fff;
}
</style>

{% endblock css %}

{% block body %}

	{% if type == "SCHOOL" %}
	<div class="container body" ng-app = "mainApp" ng-controller = "tableCtrl">
		<h1>{{detail}}{% if request.user.is_active and request.user.is_staff %} <a href="/admin/data/statedisplaydataydetail/{{detail.id}}/change/" target="_blank"><i class="fa fa-pencil"></i></a>{% endif %}</h1>
        <h2>{{school_year}} </h2>
        <div class="dropdown" id="dropdown_btn">
		  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{detail}}
		  <span class="caret"></span></button>
		  <ul class="dropdown-menu" id="dropdown_menu">
		  	{% for display_detail in indicator.displaydatay_have_detail %}
		  	{% get_state_history_value indicator display_detail.display.name 'Statewide' as data %}
		    <li><a href="{% url 'state_detail' indicator.state_indicator_set.state.slug indicator.id data.school_year display_detail.detail.slug %}">{{display_detail.detail.name}}</a></li>
		    {% endfor %}
		  </ul>
		</div>
		
		<table class="table table-hover table-striped sticky-header" id="table" cellspacing="0" class="display sortable-theme-bootstrap" data-sortable>
			<thead>
				<tr><th>District Name</th>
					<th>School Name</th>
					{% for column in detail.summary %}
					<th style="text-align: right;">{{column.display_name}}</th>
					{% endfor %}
				</tr>
				<tr>
		            <th>{{state.state_name}}</th>
		            <th class="hidden-sm hidden-xs"></th>
		            <th class="visible-xs-* visible-ms-* hidden-md hidden-lg"></th>
				    {% for column in detail.summary %}
					<th style="text-align: right;">{% get_state_indicator_value state indicator school_year column.display.name as value %}
					{% get_display value %}</th>
				    {% endfor %}
		        </tr>
	 		</thead>
			<tbody>
					<tr data-ng-repeat="row in data.data">
					{% for column in detail.summary %}
					{% if forloop.counter == 1 %}
					<th scope="row">{[{row.district}]}</th>
					<td class="hidden-sm hidden-xs">{[{row.school}]}</td>
					<td class="visible-xs-* visible-ms-* hidden-md hidden-lg">{[{row.school_short_name}]}</td>
					{% endif %}
					<td style="text-align: right;">{[{row.value{{column.id}}}]}</td>
					{% endfor %}
					</tr>
			</tbody>
		</table>
	</div>
	{% elif type == "DISTRICT" %}
	<div class="container body" ng-app = "mainApp" ng-controller = "tableCtrl">
		<h1>{{detail}}{% if request.user.is_active and request.user.is_staff %} <a href="/admin/data/statedisplaydataydetail/{{detail.id}}/change/" target="_blank"><i class="fa fa-pencil"></i></a>{% endif %}</h1>
		<h2>{{school_year}} </h2>
        <div class="dropdown" id="dropdown_btn">
		  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{detail}}
		  <span class="caret"></span></button>
		  <ul class="dropdown-menu" id="dropdown_menu">
		  	{% for display_detail in indicator.displaydatay_have_detail %}
		  	{% get_state_history_value indicator display_detail.display.name 'Statewide' as data %}
		    <li><a href="{% url 'state_detail' indicator.state_indicator_set.state.slug indicator.id data.school_year display_detail.detail.slug %}">{{display_detail.detail.name}}</a></li>
		    {% endfor %}
		  </ul>
		</div>			

		<table class="table table-hover table-striped sticky-header" id="table" class="sortable-theme-bootstrap" data-sortable>
			<thead> 
					<tr><th>District Name</th>
					{% for column in detail.summary %}
					<th style="text-align: right;">{{column.display_name}}</th>
					{% endfor %}
					</tr>
				    <tr>
		            <th>{{state.state_name}}</th>
				    {% for column in detail.summary %}
					<th style="text-align: right;">{% get_state_indicator_value state indicator school_year column.display.name as value %}
					{% get_display value %}
					</th>
				    {% endfor %}
		            </tr>
	 		</thead>
			<tbody>
					<tr data-ng-repeat="row in data.data">
					{% for column in detail.summary %}
					{% if forloop.counter == 1 %}
					<th scope="row">{[{row.district}]}</th>
					{% endif %}
					<td style="text-align: right;">{[{row.value{{column.id}}}]}</td>
					{% endfor %}
					</tr>
			</tbody>
		</table>
	</div>
    {% endif %}
{% endblock body %}

{% block javascript %}
    {% cache 35000 sate request.path indicator.id school_year detail.slug %}

	{{block.super}}

	<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
	<script src="{% static "js/floatThead.js" %}"></script>
	<script src = "{% static "angular-1.3.14/angular.min.js" %}"></script>
	<script src ="https://bartaz.github.io/sandbox.js/jquery.highlight.js"></script>
	<script src ="https://cdn.datatables.net/plug-ins/1.10.12/features/searchHighlight/dataTables.searchHighlight.min.js"></script>
    <script>
         function remove_no_data(data){
            var result = [];
            for (var i=0; i<data.length; i++){
            	if({% for column in detail.summary %}{% if forloop.first %}data[i].value{{column.id}} !='no data' {% else%}&& data[i].value{{column.id}} !='no data' {% endif %}{% endfor %}){
            	    result.push(data[i]);
            	}
            }
            return result;
         }
    
    	 {% if type == "SCHOOL" %}
         var mainApp = angular.module('mainApp',[]).config(function($interpolateProvider) {
					        $interpolateProvider.startSymbol('{[{');
					        $interpolateProvider.endSymbol('}]}');
					    });
         var data = [{% for district in state.districts %}{% for school in district.schools%}
                  {district:"{{district.district_name | safe}}",school:"{{school.school_name | safe }}",school_short_name:"{{school.short_name}}",
                  	{% for column in detail.summary %}
                   	value{{column.id}}: {% get_school_indicator_value school indicator school_year column.display.name as value %}{% get_display value as display %}'{{display|safe}}',
					{% endfor %}},
				{% endfor %}{% endfor %}]
         data = remove_no_data(data);
         
         mainApp.controller('tableCtrl', function($scope) {
            $scope.data = {
               data: data
            };
         });
         {% elif type == "DISTRICT" %}
         var data = [{% for district in state.districts %}
                  {district:'{{district.district_name | safe}}',
                  	{% for column in detail.summary %}
                   	value{{column.id}}: {% get_district_indicator_value district indicator school_year column.display.name as value %}{% get_display value as display %}'{{display|safe}}',
					{% endfor %}},
				{% endfor %}]
         data = remove_no_data(data);
         var mainApp = angular.module('mainApp',[]).config(function($interpolateProvider) {
					        $interpolateProvider.startSymbol('{[{');
					        $interpolateProvider.endSymbol('}]}');
					    });
         
         mainApp.controller('tableCtrl', function($scope) {
            $scope.data = {
               data:data
            };
         });
         {% endif %}
         
         
    jQuery.extend( jQuery.fn.dataTableExt.oSort, {
    "percent-pre": function ( a ) {
        if (a == "&lt;1%"){return parseFloat( '0.99999999' ); }
        var x = (a == "-") ? 0 : a.replace( /%/, "" );
        return parseFloat( x );
    },
 
    "percent-asc": function ( a, b ) {
        return ((a < b) ? -1 : ((a > b) ? 1 : 0));
    },
 
    "percent-desc": function ( a, b ) {
        return ((a < b) ? 1 : ((a > b) ? -1 : 0));
    }
	} );
         
         
    $(document).ready(function(){
        $(".sticky-header").floatThead({scrollingTop:80});
        var table = $('#table').DataTable({
        	"paging":   false,
        	"columnDefs": [
        	{% for column in detail.summary %}
                {% if column.sorting_plug %}{ "type": "{{column.sorting_plug}}", targets: {{ forloop.counter }}+1 }{% endif %}
            {% endfor %}
            ]
        });
        table.on( 'draw', function () {
        	var body = $( table.table().body() );
 
        	body.unhighlight();
        	body.highlight( table.search() );  
    	} );
        
    });
    
    var liText = '', liList = $('#dropdown_menu li'), listForRemove = [];

	$(liList).each(function () {
	    
	  var text = $(this).text();
	
	  if (liText.indexOf('|'+ text + '|') == -1)
	    liText += '|'+ text + '|';
	  else
	    listForRemove.push($(this));
	});
	$(listForRemove).each(function () { $(this).remove(); });
	if($('#dropdown_menu li').length <= 1){$('#dropdown_btn').remove();}
    </script>
    {% endcache %}
{% endblock javascript %}