{% extends "front_page/base.html" %}{% load staticfiles %}{% load humanize %}{% load config %}

{% block css %}
	<link rel="stylesheet" href="{% static "css/jquery.dataTables.min.css" %}" />
	{{block.super}}
{% endblock css %}

{% block body %}
      <div class="container body">
      <h1>{{detail}}{% if request.user.is_active and request.user.is_staff %} <a href="/admin/data/statedisplaydataydetail/{{detail.id}}/change/" target="_blank"><i class="fa fa-pencil"></i></a>{% endif %}</h1>
        <div class="dropdown">
		  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{detail}}
		  <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		  	{% for display_detail in indicator.displaydatay_have_detail %}
		  	{% get_state_history_value indicator display_detail.display.name as data %}
		    <li><a href="{% url 'state_detail' indicator.state_indicator_set.state.slug indicator.id data.school_year display_detail.detail.slug %}">{{display_detail.detail.name}}</a></li>
		    {% endfor %}
		  </ul>
		</div>
            <h1>{{school_year}}</h1>
            {% for i in detail_set %}
                  <h2>{{i.set_name.title}}{% if request.user.is_active and request.user.is_staff %} <a href="/admin/data/statedisplaydataydetailset/{{i.set_name.id}}/change/" target="_blank"><i class="fa fa-pencil"></i></a>{% endif %}</h2>
                        {% if i.set_name.display_type == 'BAR-CHART' or i.set_name.display_type == 'BAR-CHART-ONLY' or i.set_name.display_type == 'HORZ-BAR-CHART' or i.set_name.display_type == 'HORZ-BAR-CHART-ONLY' %}
                        <div id="{{i.set_name.display_type}}{{forloop.counter}}" value="{{i.set_name.title}}" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                        {% elif i.set_name.display_type == 'PIE-CHART' or i.set_name.display_type == 'PIE-CHART-ONLY'%}
                        <div id="{{i.set_name.display_type}}{{forloop.counter}}" value="{{i.set_name.title}}" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                        {% else %}
						 {% endif %}
                        {% if i.set_name.display_type == 'BAR-CHART' or i.set_name.display_type == 'PIE-CHART' or i.set_name.display_type == 'HORZ-BAR-CHART' or i.set_name.display_type == 'TABLE' %}                        
						<table class="table table-hover" id='table_{{i.set_name.id}}'>
                          <thead> <tr><th></th>

                                      {% for key, values in i.data.items %}
                                      {% if forloop.first %}{% for j in values.names %}<th>{{j}}</th>{% endfor %}{% endif %}
                                      {% endfor %}

                                  </tr>
                          </thead>
                          <tbody> 
                                  {% for key, values in i.data.items %}
                                  <tr><th scope="row">{{key}}</th>
                                      {% for row in values.data %}
                                      <td>{% get_data_type row.key_value i.set_name.data_type%}</td>
                                      {% endfor %}
                                  </tr>
                                  {% endfor %}
                          </tbody>
                        </table>
                        {% endif %}
            {% endfor %}
      </div>
{% endblock %}

{% block javascript %}
    {{block.super}}
    <script src="{% static "js/jquery.dataTables.min.js" %}"></script>
    {% include "charts/bar_chart.js" with detail_set=detail_set %}
    <script src="{% static "js/datatable_sort.js" %}"></script>
    
    <script>
    $(document).ready(function(){
       {% for i in detail_set %}{% if i.set_name.display_type == 'BAR-CHART' or i.set_name.display_type == 'PIE-CHART' or i.set_name.display_type == 'HORZ-BAR-CHART' or i.set_name.display_type == 'TABLE' %}
        $('#table_{{i.set_name.id}}').DataTable({
        	"paging":   false, bFilter: false, bInfo: false,
        	"columnDefs": [
        	{% for key, values in i.data.items %}{% if forloop.first %}{% for j in values.names %}{% if j.sorting_plug %} {"type": '{{j.sorting_plug}}', targets: {{ forloop.counter }} },{% endif %}{% endfor %}{% endif %}{% endfor %}
        	]
        });
        {% endif %}{% endfor %}
    });
    </script>


{% endblock %}