import os
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}

BROKER_URL = "sqla+postgresql://yang@localhost:5432/geocode"

CELERY_RESULT_BACKEND = "database"
CELERY_TASK_RESULT_EXPIRES = None #A value of None or 0 means results will never expire (depending on backend specifications). Default is to expire after 1 day.
try:
   CELERY_RESULT_DBURI = "postgresql://%s@%s/%s" % (DATABASES['default']['USER'], DATABASES['default']['HOST'], DATABASES['default']['NAME'])
except:
   pass

BROKER_HEARTBEAT = 30

CELERYD_POOL_RESTARTS = True
CELERYCAM_EXPIRE_SUCCESS = None
CELERYCAM_EXPIRE_ERROR = None
CELERYCAM_EXPIRE_PENDING = None


#INSTALLED_APPS += ("djcelery", )

# redis server address
BROKER_URL = 'redis://localhost:6379/0'
# store task results in redis
CELERY_RESULT_BACKEND = 'redis://localhost:6379/0'
# task result life time until they will be deleted
CELERY_TASK_RESULT_EXPIRES = 7*86400  # 7 days
# needed for worker monitoring
CELERY_SEND_EVENTS = True
# where to store periodic tasks (needed for scheduler)
#CELERYBEAT_SCHEDULER = "djcelery.schedulers.DatabaseScheduler"

# add following lines to the end of settings.py
import djcelery
djcelery.setup_loader()

